@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Outfit';
}

@theme {
  --color-primary-50: #e5eef8;
  --color-primary-100: #c8dbf0;
  --color-primary-200: #a7c5e6;
  --color-primary-300: #7da8d7;
  --color-primary-400: #5389c6;
  --color-primary-500: #1e60a6; /* Base */
  --color-primary-600: #174b85;
  --color-primary-700: #123a6a;
  --color-primary-800: #0e2c51;
  --color-primary-900: #0a1f39;
  --color-accent-50: #e2f7fb;
  --color-accent-100: #ffece8;
  --color-accent-200: #ffd0c5;
  --color-accent-300: #ffb3a1;
  --color-accent-400: #ff8f75;
  --color-accent-500: #ff603a; /* Base */
  --color-accent-600: #e7441d;
  --color-accent-700: #c42700;
  --color-accent-800: #a12000;
  --color-accent-900: #701700;
  --font-nunito: 'Nunito Variable';
  --font-merriweather: 'Merriweather';
  --font-outfit: 'Outfit';
  --rounded-input-sm: 5px;
  --rounded-input-md: 8px;
  --rounded-input-lg: 10px;
}

body {
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

.blog_post h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 25px;
}

.blog_post h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 25px;
}

.blog_post p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 25px;
  line-height: 32px;
}

.blog_post a {
  color: var(--color-primary-500);
  font-weight: 400;
}

.blog_post ol,
.blog_post ul {
  margin-bottom: 25px;
}

.blog_post li {
  font-size: 18px;
  font-weight: 300;
  margin: 8px 0;
  margin-left: 20px;
  padding-left: 10px;
  list-style-type: disc;
}

.blog_post li:nth-last-of-type {
  margin-bottom: 0;
}

@media (width < 1024px) {
  .blog_post p,
  .blog_post li {
    font-size: 16px;
    line-height: 28px;
  }
}
