@import 'tailwindcss';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Outfit Variable';
}

@theme {
  --color-primary-50: #e5eef8;
  --color-primary-100: #c8dbf0;
  --color-primary-200: #a7c5e6;
  --color-primary-300: #7da8d7;
  --color-primary-400: #5389c6;
  --color-primary-500: #1e60a6; /* Base */
  --color-primary-600: #174b85;
  --color-primary-700: #123a6a;
  --color-primary-800: #0e2c51;
  --color-primary-900: #0a1f39;
  --color-accent-50: #e2f7fb;
  --color-accent-100: #ffece8;
  --color-accent-200: #ffd0c5;
  --color-accent-300: #ffb3a1;
  --color-accent-400: #ff8f75;
  --color-accent-500: #ff603a; /* Base */
  --color-accent-600: #e7441d;
  --color-accent-700: #c42700;
  --color-accent-800: #a12000;
  --color-accent-900: #701700;
  --font-nunito: 'Nunito Variable';
  --font-merriweather: 'Merriweather';
  --font-outfit: 'Outfit';
  --rounded-input-sm: 5px;
  --rounded-input-md: 8px;
  --rounded-input-lg: 10px;
  --input-box-shadow: 0px 0px 5px -1px var(--grey-color-600);
  --input-box-shadow-sm: 0px 0px 5px -1px var(--grey-color-600);
  --input-box-shadow-focus: 0px 0px 8px 0px var(--grey-color-600);
  --input-box-shadow-sm-focus: 0px 0px 8px 0px var(--grey-color-600);
  --form-shadow: 0px 0px 20px 1px rgba(219, 219, 219, 1);
  --flight-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  --flight-shadow-hover: 0 12px 32px rgba(0, 0, 0, 0.08);
}

body {
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

.blog_post h2 {
  font-size: 30px;
}

.blog_post h3 {
  font-size: 22px;
}

.blog_post p,
.blog_post h2,
.blog_post h3,
.blog_post ol,
.blog_post ul {
  margin-bottom: 35px;
}

.blog_post h2,
.blog_post h3,
.blog_post a {
  font-weight: 500;
}

.blog_post a {
  color: var(--color-accent-500);
  text-decoration: underline;
}

.blog_post p,
.blog_post li {
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}

.blog_post li {
  margin-bottom: 20px;
  margin-left: 20px;
  padding-left: 10px;
  list-style-type: disc;
}

.blog_post li:last-of-type {
  margin-bottom: 0px;
}

@media (width < 1024px) {
  .blog_post p,
  .blog_post li {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
  }

  .blog_post {
    margin-bottom: 25px;
  }
}
